body{
    margin: 0;
    font-size: 12px;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    background-repeat: no-repeat;
    color: white;
}

.container{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.top, .middle, .bottom{
    /* background-color: white; */
    width: 100%;
}

.top{
    text-align: center;
    height: 25%;
}

.middle{
    display: flex;
    height: 50%;
}

.left{
    text-align: left;
    flex: 1;
}

.right{
    text-align: right;
    flex: 1;
}

.bottom{
    height: 25%;
    text-align: center;
}